<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Form</title>
</head>
<body>
<form method="post">
    First Name:<br/>
    <input type="text" name="firstName" required = "required" /><br/>
    Surname:<br/>
    <input type="text" name="surname" required = "required" /><br/>
    Email:<br/>
    <input type="email" name="email" required = "required" /><br/>
    Description:<br/>
    <textarea type="text" name="description" style="height: 75px;"/><br/>
    CV:<br/>
    <input type="file" name="cv"/><br/>
    <input type="submit" value="Send application"/>
</form>
</body>
</html>