<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Recruitment System</title>
</head>
<body>
<div style="text-align: right; top: 100%">
    <button onclick="location.href='/login'">Login</button>
</div>
<div style="text-align: center">
    <h1>Open positions:</h1>
    <p onclick="location.href='/form/Czarodziej'" style="font-size: large">1. Czarodziej</p>
    <p onclick="location.href='/form/Paladyn'" style="font-size: large">2. Paladyn</p>
</div>
</body>
</html>
